.content {
	padding: 50px 0;
	display: flex;
	flex-direction: column;
	align-items: center;

	&__prize {
		display: inline-block;
		color: rgb(255, 255, 255);
		font-size: 16px;
		line-height: 16px;
		letter-spacing: 0%;
		text-align: center;
		padding: 4px 16px;
		border-radius: 20px;
		background: rgba(0, 0, 0, 0.8);
		margin: 0 0 20px 0;
	}
}
.block-2 {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	&__places-upgrade {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	&__title {
		color: rgb(255, 255, 255);
		font-size: 16px;
		line-height: 16px;
		letter-spacing: 0%;
		text-align: center;
		padding: 4px 16px;
		border-radius: 20px;
		margin: 0 0 20px 0;
		text-transform: uppercase;
		display: inline-block;
	}
	&__title.red {
		background: rgba(255, 82, 82, 0.8);
	}
	&__title.green {
		background: rgb(32, 145, 9);
	}
	&__title.gray {
		background: rgb(75, 93, 110);
	}

	&__item {
		width: 100%;
		margin: 0 0 16px 0;
		display: flex;
		align-items: center;
	}
	&__item:last-child {
		margin: 0 0 20px 0;
	}

	&__item-number {
		color: rgb(255, 255, 255);
		font-family: "Red Hat Display" serif;
		font-size: 20px;
		font-weight: 700;
		line-height: 22px;
		text-align: center;
		width: 20px;
		height: 20px;
		letter-spacing: -0.41px;
	}

	&__item-info {
		margin: 0 0 0 16px;
		width: 100%;
	}

	&__item-name {
		margin: 0 0 3px 0;
		color: rgb(255, 255, 255);
		font-family: "Red Hat Display" serif;
		font-size: 20px;
		font-weight: 700;
		line-height: 22px;
		letter-spacing: -0.41px;
	}

	&__item-delivery {
		color: rgba(255, 255, 255, 0.7);
		font-family: "Red Hat Display" serif;
		font-size: 16px;
		line-height: 16px;
		letter-spacing: 0px;
	}

	&__item-other {
		color: rgb(0, 0, 0);
		font-size: 24px;
		line-height: 12px;
		letter-spacing: 0%;
		padding: 14px;
		border-radius: 12px;
		background: rgb(255, 255, 255);
	}

	&__places {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	&__places-downgrade {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
}
